<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.valar.core.mapper.AlipayConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.valar.core.entity.AlipayConfig">
        <id column="config_id" property="configId" />
        <result column="app_id" property="appId" />
        <result column="charset" property="charset" />
        <result column="format" property="format" />
        <result column="gateway_url" property="gatewayUrl" />
        <result column="notify_url" property="notifyUrl" />
        <result column="private_key" property="privateKey" />
        <result column="public_key" property="publicKey" />
        <result column="return_url" property="returnUrl" />
        <result column="sign_type" property="signType" />
        <result column="sys_service_provider_id" property="sysServiceProviderId" />
    </resultMap>

</mapper>
