<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.valar.core.mapper.ColumnConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.valar.core.entity.ColumnConfig">
        <id column="column_id" property="columnId" />
        <result column="table_name" property="tableName" />
        <result column="column_name" property="columnName" />
        <result column="column_type" property="columnType" />
        <result column="dict_name" property="dictName" />
        <result column="extra" property="extra" />
        <result column="form_show" property="formShow" />
        <result column="form_type" property="formType" />
        <result column="key_type" property="keyType" />
        <result column="list_show" property="listShow" />
        <result column="not_null" property="notNull" />
        <result column="query_type" property="queryType" />
        <result column="remark" property="remark" />
        <result column="date_annotation" property="dateAnnotation" />
    </resultMap>

</mapper>
