<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.valar.core.mapper.DeployHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.valar.core.entity.DeployHistory">
        <id column="history_id" property="historyId" />
        <result column="app_name" property="appName" />
        <result column="deploy_date" property="deployDate" />
        <result column="deploy_user" property="deployUser" />
        <result column="ip" property="ip" />
        <result column="deploy_id" property="deployId" />
    </resultMap>

</mapper>
