<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.valar.core.mapper.DeployServerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.valar.core.entity.DeployServer">
        <id column="deploy_id" property="deployId" />
        <result column="server_id" property="serverId" />
    </resultMap>

</mapper>
