<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.valar.core.mapper.QiniuConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.valar.core.entity.QiniuConfig">
        <id column="config_id" property="configId" />
        <result column="access_key" property="accessKey" />
        <result column="bucket" property="bucket" />
        <result column="host" property="host" />
        <result column="secret_key" property="secretKey" />
        <result column="type" property="type" />
        <result column="zone" property="zone" />
    </resultMap>

</mapper>
